/* PC  */
@media screen and (min-width: 992px) {
  .hide-on-pc {
    display: none;
  }
}
/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
  .header {
    height: auto;
    padding-bottom: 32px;
  }
  .header .nav ul {
    display: none;
  }

  .header .nav {
    justify-content: space-between;
  }

  .header .nav .action {
    margin-left: 0;
  }

  /* mobile header  */
  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 3;
  }

  .menu-drawer {
    padding: 24px;
    position: fixed;
    inset: 0 70% 0 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 3;
  }

  .menu-drawer ul li {
    margin-bottom: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
  }

  .menu-drawer ul li:hover {
    opacity: 0.7;
  }

  .check-header:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .check-header:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* hero  */
  .hero-img {
    display: none;
  }

  .header .hero .info {
    width: 100%;
  }

  /* clients  */
  .clients .clients-img {
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
  }

  /* guides  */
  .guides .guide-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .guides .guide-items span {
    margin-left: 0;
  }
  .guides .guide-items .arrow-left {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }

  /* feature  */
  .featured h2 {
    text-align: center;
    margin-bottom: 18px;
  }
  .featured .header .row {
    flex-direction: column;
    row-gap: 16px;
  }

  .featured .list-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .featured .feature-item .box-icon {
    justify-content: space-between;
  }

  .featured .list-features .feature-item .box-icon .icon-item {
    margin-right: 0;
  }

  .featured .list-features .feature-item .box span {
    font-size: 1.2rem;
  }

  /* starts  */
  .stats .row-top {
    flex-direction: column-reverse;
  }

  .stats .content .stats-info {
    padding: 0;
    width: 100%;
  }

  .stats .stats-info .title {
    width: 80%;
  }

  .stats .stats-info .desc {
    width: 100%;
  }

  .stats .content .img-block {
    width: 100%;
    margin-top: 16px;
  }

  .stats .content .img-block .stats-img {
    width: 100%;
    height: 460px;
  }

  .stats .content .quantity .number {
    font-size: 5rem;
  }

  .stats .content .quantity .desc {
    font-size: 1.6rem;
  }

  /* subcribe  */
  .subscribe .sub-img {
    display: none;
  }

  footer .content .row-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
  }
}
/* Tablet  */
@media screen and (min-width: 768px) {
}
/* Mobile  */
@media screen and (max-width: 767.98px) {
  .hide-on-mobile {
    display: none;
  }

  .action-mobile {
    text-align: center;
  }

  .sign-in-mobile {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    color: #0f1b4c;
    text-decoration: none;
    margin-top: 32px;
    margin-bottom: 12px;
  }

  .sign-up-mobile.btn {
    display: inline-block;
    padding: 8px 12px;
  }

  /* hero  */

  .header .hero {
    margin-top: 76px;
  }

  .hero p.sub-title {
    font-size: 1.2rem;
  }

  .hero h1.title {
    font-size: 3.8rem;
  }

  .hero p.desc {
    font-size: 1.3rem;
    margin-top: 18px;
  }

  /* clients  */

  .clients .content .row p:first-child {
    font-size: 1.3rem;
  }

  /* guides  */

  .guides h2.title {
    font-size: 2.3rem;
  }

  .guides p.desc {
    width: 100%;
    font-size: 1.3rem;
  }

  .guides .list-guide {
    flex-direction: column;
    row-gap: 32px;
  }

  .guides .content .btn {
    margin-left: -10%;
    transform: translateX(50%);
  }

  /* featured  */
  .featured .content h2 {
    font-size: 2.3rem;
  }

  .featured .row p.desc {
    font-size: 1.3rem;
  }

  .featured .row a.link {
    font-size: 1.4rem;
  }

  .featured .content .header .row {
    align-items: start;
    row-gap: 32px;
  }

  .featured .list-features {
    margin-top: 18px;
    grid-template-columns: 1fr;
  }

  .featured .content .box h3 {
    font-size: 1.8rem;
  }

  .featured .content .box .desc {
    font-size: 1.2rem;
  }

  .featured .feature-item .box-icon .icon-item {
    flex-direction: column;
    row-gap: 4px;
  }

  /* stats  */
  .stats .stats-info .title {
    font-size: 2.3rem;
    width: 100%;
  }

  .stats .stats-info .desc {
    font-size: 1.3rem;
  }

  .stats .content .img-block .trend {
    background-color: #ffffffd4;
  }

  .stats .content .quantity .container {
    flex-direction: column;
    align-items: center;
    row-gap: 42px;
    text-align: center;
  }

  /* subscribe  */

  .subscribe .content .content-box {
    top: 0;
    left: 0;
  }

  .subscribe .content .text-box {
    width: 80%;
    top: 24px;
    left: 24px;
  }

  .subscribe .text-box h2.title {
    font-size: 2.3rem;
  }

  /* footer  */

  footer .content .row-bottom {
    display: block;
  }

  footer .content .row-bottom .license {
    margin-top: 16px;
    font-size: 1.2rem;
  }
}
